* {
    user-select: none;
    text-align: center;
    color: #999;
}

body { background-color: #222; }

textarea,
button {
    width: 100%;
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
}

button:hover { background-color: #555; }